:root {
    --ash: #ccc;
    --blackie: #222;
    --blue: #0090ff;
    --charcoal: #444;
    --gray: #888;
    --green: #04a95f;
    --midnight: #23272f;
    --turquoise: #00b8cf;
    --vue-blue: #647eff;
    --vue-green: #28b978;
    --skye: #f0faff;
    --white: #fff;
    --yellow: #da4;
    --background-color: var( --white );
    --background-color-mild: #f7f7f7;
    --border-color: var( --ash );
    --color: var( --blackie );
    --top-height: 4rem;
}

.dark {
    --background-color: var( --blackie );
    --border-color: var( --charcoal );
    --background-color-mild: #272727;
    --color: var( --white );
    --vue-blue: #6C87ff;
    --vue-green: #21c37a;
}

body {
    background-color: var( --background-color );
    color: var( --color );
    font-size: 16px;
    margin: 0 auto;
    max-width: 2048px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    @media ( min-width: 2049px ) {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: var( --border-color );
    }
    * {
        background-color: inherit;
        color: inherit;
    }
    a {
        color: var( --green );
        text-decoration: none;
        &:hover { color: var( --vue-green ) }
    }
    h1 { &, & * { font-size: 2rem } }
    h2 { &, & * { font-size: 1.78rem } }
    h3 { &, & * { font-size: 1.5rem } }
    h4 { &, & * { font-size: 1.25rem } }
    h4 { &, & * { font-size: 1.125rem } }
    h1, h2, h3, h4, h5 {
        &, & * {
            font-weight: 700;
            margin: 1rem 0;
        }
    }
}

pre, code, kbd, samp {
    font-size: 0.8125rem;
    line-height: 1.42857;
}

.vertical-top { vertical-align: top }

.top-barred { border-top: 1px solid var( --border-color ) }
